//Criando seu tema

$my-color-1: #a26cce;
$my-color-2: #eca218;
$my-color-3: #70C1B3;
$my-color-4: #18ccec;
$my-color-5: #d6ca19;

/*$my-color-1: #00A1FF;
$my-color-2: #8DE971; 8fe49d
$my-color-3: #FFF36D; e6dd5f
$my-color-4: #e5b8eb;
$my-color-5: #eb3d85; df3e7b */

$theme-colors:(
    "my-color-1": $my-color-1,
    "my-color-2": $my-color-2,
    "my-color-3": $my-color-3,
    "my-color-4": $my-color-4,
    "my-color-5": $my-color-5
);

// Classes personalizadas
$link-color: $my-color-3;


// importa o Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";