//Criando seu tema

$my-color-1: #00A1FF;
$my-color-2: #8DE971;
$my-color-3: #FFF36D;
$my-color-4: #FFCD8A;
$my-color-5: #FF7CD6;

$theme-colors:(
    "my-color-1": $my-color-1,
    "my-color-2": $my-color-2,
    "my-color-3": $my-color-3,
    "my-color-4": $my-color-4,
    "my-color-5": $my-color-5
);

// Classes personalizadas
$link-color: $my-color-4;


// importa o Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";