//Criando seu tema

$my-color-1: #987284;
$my-color-2: #df3e7b;
$my-color-3: #70C1B3;
$my-color-4: #8fe49d;
$my-color-5: #CEA0AE;

/*$my-color-1: #00A1FF;
$my-color-2: #8DE971;
$my-color-3: #FFF36D;
$my-color-4: #e5b8eb;
$my-color-5: #eb3d85;*/

$theme-colors:(
    "my-color-1": $my-color-1,
    "my-color-2": $my-color-2,
    "my-color-3": $my-color-3,
    "my-color-4": $my-color-4,
    "my-color-5": $my-color-5
);

// Classes personalizadas
$link-color: $my-color-3;


// importa o Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";